* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background: #e4e8ff;
    background: linear-gradient(175deg, rgb(176, 162, 255) 0%, rgba(212, 234, 255, 1) 50%, rgb(145, 174, 255) 100%);
}